<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SH Basketball</title>
    <link rel="stylesheet" href="~/Assets/css/bootstrap-337.min.css">
    <link rel="stylesheet" href="~/Assets/font-awsome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <script src="~/Assets/js/jquery-331.min.js"></script>
    <script src="~/Assets/js/bootstrap-337.min.js"></script>



</head>

<body>
    @{Html.RenderAction("header", "Home");}


    @RenderBody()


    @{Html.RenderAction("footer", "Home");}
</body>

</html>